<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 生命周期 -->
    <bean id="employee" class="cn.element.spring.pojo.Employee" init-method="init" destroy-method="destroy">
        <property name="lastName" value="洛必达"/>
        <property name="age" value="25"/>
        <property name="desc" value="天下无敌"/>
    </bean>

    <!-- 后置处理器-->
    <bean class="cn.element.spring.factory.IBeanPostProcessor"/>
</beans>